.top__section {
  width: 1440px;
  height: 1000px;
  background-color: #f7f7f7;
}

.top__title {
  width: 496px;
  height: 72px;
  font-family: Merriweather;
  font-size: 57.1px;
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: rgba(0, 0, 0, 0.87);
}
